[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hulga"]
	path = themes/hulga
	url = https://github.com/wlh320/hugo-theme-hulga.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
